
<main class="px-4 py-20 sm:px-6 lg:px-8" style = "margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); width:100%">
  <div class="mx-auto max-w-2xl">
    <%= @inner_content %>
  </div>
</main>
